.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 5px;
  }

  .row1 {
    display: flex;
  }
  
  .column1 {
    flex: 33.3%;
    padding: 5px;
  }

  
  .header{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    background-color:darkslategray;
    color: whitesmoke;

}

.header>section>div{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding-left: 15px;
    padding-top: 10px;
}
